    * { /*deixa a a margem e padding tudo 0*/
        margin: 0;
        padding: 0;
    }  
       
   body {
       font-family: monospace, sans-serif;
       background-color: rgb(141, 160, 223);/*#61a5c2;*/
        font-size: 16px;
    }
    h2 {
        color: rgb(36, 60, 197);
        line-height: 30px;
        font-weight: 600;
        font-size: 2em;
        margin-bottom: 30px;
    }
    p, a {
        font-style: italic;
        text-decoration: none;
    }
    ul {
        font-family: 'Prompt', sans-serif;
    } 
    .sublinhar{
        text-decoration: underline;/*sublinha*/
    }
    .negrito{
        font-weight: bold;
    }
    .título-edgard-giorge {
        margin-bottom: 10px;
        color: rgb(11, 38, 192);
        line-height: 55px;
        font-weight: 600;
        font-size: 45px                        
    } 
    .títulos-outros{
        color: rgb(41, 68, 223);
        line-height: 30px; /*espaçamento entre as linhas*/
        font-weight: 600;
        font-size: 28px;
        text-align: center;
    }
    .cor-de-titulos {
        color:rgb(41, 68, 223);        
    }
    .tabela1 {
        font-weight: bold; /*negrito*/
        line-height: 30px; /*altura das linhas*/
        margin-left: 40px;
    }
    .mouse-tabela:hover {
        color: white;
        font-weight: bold;
    }
    a.mouse-tabela {
        color: rgb(41, 68, 223);
    }
    .picture {
        border-radius: 60%; 
        width: 200px;/*tamanho da foto*/
        height: 150px;
    }
    .descrição-profissão { /*chama id*/
        background-color: rgb(101, 132, 223); 
        color: white;
    }
    .nome-profissão {  /*classe*/
        background-color: royalblue;
        color: white;
    }
    .formação{
        text-align: center; /*centraliza*/
    }
    .button {
        background-color: royalblue;
        color: white;
        padding: 10px 30px;/*preenche borda*/ 
        font-weight: 600;/*larg.da fonte, pode ser negrito(bold)*/
        border-radius: 6px;
        width: 200px; /*largura*/
        display: block; /*Fala que o link é um bloco*/
        margin: 20px auto; /*Coloca margem dos lados neste caso 20 em cima e embaixo e as laterais margens iguais, consequentimente alinha o link*/
    }
    .button:hover{
        background-color: rgb(36, 60, 197);
    }
    .header { /* Criei a classe pra colocar a foto de fundo*/
        background-image: url(imagens/selfwhats.JPG);
        background-size: cover; /*tamanho de capa*/
        height: 500px; /*usa a altura pra dimensionar a foto*/
        background-position: 0 10%; /*ajusta a imagem*/
        padding: 25px 30px 40px 10px; /* ajuste padding*/
        margin-bottom: 60px; /*aumenta margem de baixo*/
        
    }
    .header-container {
        max-width: 60%; /*largura do texto*/
        margin-left: 40px; /*40px a esquerda da borda*/
    }
    p.header-container {
        margin-left: 0px;
        max-width: 80%;
        font-size: 20px;
    }
    .market {
        padding: 60px 10px;
        text-align: center;
    }
    .espaço-tags {
        text-align: center;
        margin-top: 30px;
    }
    .market-test {
        max-width: 60%;
        margin: 20px auto;
    }
    .trajetória {
        width: 80%;
        padding: 30px 70px 0 70px;
        margin:auto 0;
    }
    .trajetória-container {
        display: inline-block; /*trata o elem.comoumblocoe mantém alinhado com os outros*/
        width: 30%; /*este tamanho deixou os 3 alinhados*/
        margin: 10px; /* entre os containers bloco/profissão*/
        /*vertical-align: bottom; não precisou mas alinhava pra baixo*/ 
    }
    .trajetória-container p {
        margin: 10px 0 0 0; /*espaço entre a foto e a escrita*/
    }
    .moça-trybe {
       text-align: center;    
    }
    .moça-trybe p, h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    
    